# вмикає модуль mod_rewrite для обробки перенаправлень.
RewriteEngine On
# Вони перевіряють, чи не існує файлу або директорії з таким ім'ям, і лише тоді виконують перенаправлення.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Це правило говорить, що всі запити, які не відповідають існуючим файлам або директоріям, мають бути перенаправлені на index.php. [L] означає завершення обробки правил перенаправлення, а [QSA] додає передані параметри до нового URL.

RewriteRule ^(.*)$ index.php [L,QSA]