body{
    background: #111115;
    color: white;
    margin: 50px 20%;
    font-family: monospace;
}

h1{
    color: cornsilk;
    font-family: serif;
}

.hed{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.log1n a{
    font-size: large;
    text-decoration: none;
    color: white;
}

.message{
    background-color: #123;
    padding: 10px;
    margin-bottom: 10px;
}

.time{
    font: 12px;
    float: right;
    font-weight: 100;
}

.login{
    font-weight: 800;
    font-size: 12xp;
    color: #5577dd;
}

.message-text {
    margin: 2px;
    font-size: 14px;
    font-weight: 800;
}

input[type='text'] {
    width: 100%;
    float: left;
    width: 89%;
    padding: 5px;
    border-radius: 50px;
    border-color: aquamarine;
    background: beige;
}

input[type='password'] {
    margin-top: 10px;
    width: 100%;
    float: left;
    width: 89%;
    padding: 5px;
    border-radius: 50px;
    border-color: aquamarine;
    background: beige;
}

input[type='submit']{
    border-radius: 50px;
    /* float: right; */
    width: 8%;
    padding: 5px;
    cursor: pointer;
}

input[type='submit']:hover{
    background-color: beige;
    transition: background-color 0.3s ease; /* Застосовуємо анімацію до background-color і color */
}

form .captcha{
    margin-top: 10px;
    margin-left: 8px;
    width: 13%;
}

form .value_captcha{
    width: 75%;
    margin-top: 10px;
}

.log1n a{
    font-size: large;
    text-decoration: none;
    color: white;
    border: solid rgb(255, 255, 255) 1px;
    padding: 5px;
    cursor: pointer;
    border-radius: 50px;
}

